In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
diabet_data = pd.read_csv("/Users/lippd/Desktop/ML in R/Python/Zadania/data/diabetes.csv")

In [6]:
diabet_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
diabet_data.shape

(768, 9)

In [9]:
diabet_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
diabet_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [14]:
diabet_data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [16]:
# separating the data and labels
x = diabet_data.drop(columns = 'Outcome', axis = 1)
y = diabet_data['Outcome']

In [22]:
# data standarization
scaler = StandardScaler()

In [23]:
scaler.fit(x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [25]:
standarized_x = scaler.transform(x)
standarized_x

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [29]:
# train and test data
x_train, x_test, y_train, y_test = train_test_split(standarized_x,y, test_size = 0.3, stratify = y, random_state = 2)

In [30]:
classifier = svm.SVC(kernel = 'linear')

In [31]:
# training the support vector Machine Classifier
classifier.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [32]:
# Model evaluation
# Accuracy score
x_train_accuracy = classifier.predict(x_train)

In [34]:
accuracy_score(x_train_accuracy, y_train)

0.7821229050279329

In [35]:
x_test_accuracy = classifier.predict(x_test)
accuracy_score_test = accuracy_score(x_test_accuracy, y_test)

In [36]:
accuracy_score_test

0.7748917748917749

In [43]:
input_data = (4,110,92,0,0,37.6,0.191,30)

input_data_as_numpy_array = np.asarray(input_data)

reshaped_input_data = input_data_as_numpy_array.reshape(1,-1)

# standarize the input data
std_data = scaler.transform(reshaped_input_data)

prediction = classifier.predict(std_data)
print(prediction)
if(prediction == [0]):
    print('Non-Diabetic')
else:
    print('Diabetic')

[0]
Non-Diabetic